@{
    ViewData["Title"] = "Home Page";

}

<div class="panel panel-primary">
    <div class="panel-heading">
        
    </div>
    <div class="panel-body">
        <form action="@Url.Action("Crear","Mantenedor")" method="post">
            <div><h4>Formulario de ingreso de casos</h4></div>
            <div class="form-group">
                <label>Correo:</label>
                <input class="form-control" id="correo" type="email" name="Correo" required="" placeholder="Ingresar Correo Electronico"/>
            </div>
            
            <div class="form-group">
                <label>Usuario:</label>
                <input class="form-control"id="usuario" type="usuario" name="usuario" disabled="" placeholder="Usuario"/>
            </div>
            <div class="form-group">
                <label>Areá:</label>
                <input class="form-control" id="area" type="area" name="area" disabled="" placeholder="Area"/>
            </div>
            
            <div>
                <h6><input type="radio" name="servicio" id="tecnicos">Tecnicos</h6>
                <h6><input type="radio" name="servicio" id="desarrollo">Desarrollo</h6>
                <h6><input type="radio" name="servicio" id="basedatos">Base de Datos</h6>
                <h6><input type="radio" name="servicio" id="telecomunicaciones">Telecomunicaciones</h6>
                <h6><input type="radio" name="servicio" id="otro"> Otro</h6>
            </div>
            <div>
        <Textarea id="comentario" type="comentario" name="comentario" rows="3" cols="65" placeholder="Comentario" required="" placeholder="Comentario"></Textarea>
        </div>
        <button type="submit" >Enviar</button>
        </form> 

    </div>
</div>


